/*title*/.title {width:100%;position:relative;}
.title ul {background:#fff;height:30px;line-height:30px;}
.title ul li {float:left;}
.title ul li a {display:inline-block;color:#393939;padding:0 20px 0 15px;position:relative;}
.title ul li.home a {z-index:2;}
.title ul li.home div {-webkit-backface-visibility:hidden;backface-visibility:hidden;-webkit-perspective:1000;perspective:1000;-webkit-transform:skewX(-15deg);-ms-transform:skewX(-15deg);transform:skewX(-15deg);-webkit-transform-origin:0 0;-ms-transform-origin:0 0;transform-origin:0 0;content:'首页';position:absolute;z-index:2;top:0;left:0;right:0;bottom:0;border-right:1px solid #c8c8c8;background:#fff;box-sizing:border-box;width:60px;height:29px;}
.title ul li.other a {color:#fff;}
.title ul li.other div {content:'';background:-webkit-gradient(linear,left top,left bottom,from(rgba(0,0,0,.8)),to(rgba(0,0,0,.5)));background:-webkit-linear-gradient(top,rgba(0,0,0,.8) 0,rgba(0,0,0,.5) 100%);background:linear-gradient(to bottom,rgba(0,0,0,.8) 0,rgba(0,0,0,.5) 100%);position:absolute;top:0;left:53px;width:77px;-lh-property:0;height:-webkit-calc(100% + 1px);height:calc(100% + 1px);border-right:none;-webkit-transform:skewX(-15deg);-ms-transform:skewX(-15deg);transform:skewX(-15deg);height:30px;}
.title_bot {width:100%;background:-webkit-gradient(linear,left top,left bottom,from(rgba(0,0,0,.5)),to(rgba(137,137,137,.5)));background:-webkit-linear-gradient(top,rgba(0,0,0,.5) 0,rgba(137,137,137,.5) 100%);background:linear-gradient(to bottom,rgba(0,0,0,.5) 0,rgba(137,137,137,.5) 100%);padding:7px 70px 10px;overflow:hidden;position:absolute;z-index:1;}
.title_bot a {display:block;color:#393939;float:left;}
.title_bot dl {overflow:hidden;width:210px;background-color:#fff;height:60px;margin-right:10px;height:75px;}
.title_bot dl dt {padding-right:3px;background-image:url(../images/sport-figure.png);background-position:-41px 0;width:50px;height:50px;float:left;margin-left:8%;}
.title_bot dl dd {float:left;display:inline-block;margin:10px 0 0 20px;color:#0082c3;}
.title_bot dl dd span {font-weight:700;font-size:1.3rem;color:#393939;}
/*title  end*//*内容 begin*/.inner {position:relative;background:#C8C8C8;}
.inner_topbg img {width:100%;}
.inner_top {height:calc(100vh - 115px);min-height:558px;max-height:670px;margin:0 auto;width:80%;position:absolute;top:2%;left:10%;}
.inner_top_left {}
.inner_top_left h1 {-webkit-transform:skewY(-10deg);-ms-transform:skewY(-10deg);transform:skewY(-10deg);font-family:'微软雅黑';font-weight:700;font-style:normal;font-size:112px;font-size:11.2rem;line-height:.9em;text-transform:uppercase;text-align:center;color:#fff;text-shadow:1px 1px 15px rgba(0,0,0,.5);margin-top:20%;}
.inner_top_btn {top:187px;position:absolute;left:-58px;right:0;border:none;border:30px solid transparent;border-right-color:#0082c3;background:transparent;outline:none;}
.inner_top_btn:after {content:'<';color:#fff;font-size:25px;position:absolute;right:-25px;top:-16px;font-family:-webkit-body;}
.inner_top_right_next {left:92.6%;border-right-color:transparent;border-left-color:#0082c3;}
.inner_top_right_next:after {left:-75px;content:'>';}
.inner_top_right {position:relative;padding-top:20px;}
.inner_top_right .pro_price_left {background:url(../images/pro_price_left.png) no-repeat;width:140px;background-size:90% 90%;height:70px;float:left;position:absolute;left:23px;top:28px;z-index:2;}
.pro_price_cont {width:400px;overflow:hidden;height:397px;position:relative;}
.pro_price_box {width:300%;overflow:auto;position:absolute;top:0;left:0px;}
.inner_top_right ul {width:100%;max-width:400px;overflow:hidden;background:#fff;float:left;padding-bottom:10px;}
.inner_top_right ul a {display:block;color:#333;}
.inner_top_right ul .pro_price {position:relative;top:10px;z-index:1;}
.inner_top_right ul .pro_price_right {background:url("../images/price_bg.png") no-repeat;width:90px;padding-left:10px;height:40px;float:right;margin:30px 15px 0 0;font-weight:700;}
.inner_top_right ul .pro_price_right b {font-size:2rem;line-height:1.6;}
.inner_top_right ul .pro_img {position:relative;}
.inner_top_right ul .pro_img .pro_img_big {width:286%;position:relative;top:-13px;padding-left:45px;overflow:hidden;}
.inner_top_right ul .pro_img .pro_img_big:hover img {transform:scale(0.9);transition:all 0.35s;}
.inner_top_right ul .pro_img .pro_img_big img {max-width:17%;float:left;margin:0 101px 0 77px;}
.inner_top_right ul .pro_img .pro_img_small img.active {border:2px solid #005AA0;}
.inner_top_right ul .pro_img .pro_img_small {width:100%;position:relative;padding-left:86px;overflow:hidden;}
.inner_top_right ul .pro_img .pro_img_small img {width:44px;height:44px;float:left;margin-right:1%;}
.inner_top_right ul .pro_txt {text-align:center;margin-top:5%;}
.inner_top_right ul .pro_txt .pro_txt_title {text-transform:uppercase;color:#3a3a3a;font-size:12px;font-size:1.2rem;font-weight:700;}
.inner_top_right ul .pro_brand {text-align:center;}
.inner_top_right ul .pro_brand i {color:#ffb339;font-size:14px;display:inline-block;width:14px;vertical-align:middle;}
.inner_top_right ul .pro_brand span {color:#666;}
.inner_bot {margin:0 auto;width:92%;margin-top:-17%;position:relative;z-index:10;overflow:hidden;}
.inner_bot_title {line-height:50px;}
.inner_bot_title_fixed {position:fixed;top:67px;width:102%;left:0;z-index:50;border-bottom:1px solid #ccc;}
.inner_bot_title div {float:left;}
.inner_bot_title div.inner_bot_title_left {background:url(../images/inner_bot_title_left_bg.png);font-size:1.3rem;color:#fff;padding:0 36px;position:relative;box-shadow:3px 0 20px rgba(0,0,0,.5);}
.inner_bot_title_left i {vertical-align:middle;}
.inner_bot_title div.inner_bot_title_center {background:#fff;}
.inner_bot_title div.inner_bot_title_center span {padding:5px;color:#fff;background:#005AA0;}
.inner_bot_title div.inner_bot_title_right {background:rgba(255,255,255,.5);position:relative;cursor:pointer;padding:5px 10px;}
.inner_bot_title_right div.inner_bot_title_right_tit {background:#fff;width:90%;padding-left:10%;height:40px;line-height:40px;border:1px solid #ccc;}
.inner_bot_title_right div.inner_bot_title_right_tit span {display:inline-block;border-left:2px solid #ccc;float:right;padding:0 8%;font-size:2rem;height:40px;}
.inner_bot .inner_bot_title_right ul {background:#fff;width:77%;display:none;position:absolute;top:50px;}
.inner_bot .inner_bot_title_right ul li {padding-left:10%;}
.inner_bot .inner_bot_title_right ul li.active {background:#0082c3;color:#fff;}
.inner_bot_cont {overflow:hidden;position:relative;margin-bottom:2%;}
.inner_bot_cont .col-lg-3 {margin-top:15px;}
.inner_bot_box {width:300%;overflow:auto;}
.inner_bot_cont ul {width:100%;max-width:300px;overflow:hidden;background:#fff;float:left;padding-bottom:10px;height:500px;}
.inner_bot_cont ul a {display:block;color:#333;}
.inner_bot_cont ul a:hover{ color: #2A73B8;}
.inner_bot_cont ul .pro_price {position:relative;top:10px;z-index:1;}
.inner_bot_cont ul .pro_price_right {background:url("../images/price_bg.png") no-repeat;width:90px;padding-left:10px;height:40px;float:right;margin:30px 15px 0 0;font-weight:700;}
.inner_bot_cont ul .pro_price_right b {font-size:2rem;line-height:1.6;}
.inner_bot_cont ul .pro_img {position:relative;}
.inner_bot_cont ul .pro_img .pro_img_big {width:400%;position:relative;top:13px;overflow:hidden;left:0;}
.inner_bot_cont ul .pro_img .pro_img_big:hover img {transform:scale(0.9);transition:all 0.35s;}
.inner_bot_cont ul .pro_img .pro_img_big img {width:250px;float:left;margin:0 20px 0 25px;}
.inner_bot_cont ul .pro_img .pro_img_small img.active {border:2px solid #005AA0;}
.inner_bot_cont ul .pro_img .pro_img_small {width:100%;position:relative;overflow:hidden;padding-left:10%;margin-top:20px;}
.inner_bot_cont ul .pro_img .pro_img_small img {width:44px;height:44px;float:left;margin-right:1%;}
.inner_bot_cont ul .pro_txt {text-align:center;margin-top:5%;}
.inner_bot_cont ul .pro_txt .pro_txt_title {text-transform:uppercase;color:#3a3a3a;font-size:12px;font-size:1.2rem;font-weight:700;}
.inner_bot_cont ul .pro_brand {text-align:center;}
.inner_bot_cont ul .pro_brand i {color:#ffb339;font-size:14px;display:inline-block;width:14px;vertical-align:middle;}
.inner_bot_cont ul .pro_brand span {color:#666;}
.inner_more {text-align:center;}
.inner_more a {padding:5px;position:relative;padding:10px 35px 10px 51px!important;font-weight:400!important;font-style:normal!important;font-size:16px!important;font-size:1.6rem!important;line-height:1.25!important;text-transform:uppercase;text-decoration:none!important;display:inline-block;color:#fff;text-align:center;-webkit-box-shadow:1px 1px 1px rgba(0,0,0,.25);box-shadow:1px 1px 1px rgba(0,0,0,.25);overflow:hidden;background:#4eb0ed;background:-webkit-gradient(linear,left top,left bottom,from(#4eb0ed),to(#0173b9));background:-webkit-linear-gradient(top,#4eb0ed 0,#0173b9 100%);background:linear-gradient(to bottom,#4eb0ed 0,#0173b9 100%);}
.inner_more a.hint{background: #ccc;color: #eee;}
#hintLastDate{display: none;}
.inner_brand {text-align:center;background:#fff;padding:20px 0;margin:10px 0;}
.inner_brand span {display:inline-block;}
.inner_brand span i {color:#ffb339;font-size:16px;display:inline-block;width:16px;margin-right:2px;vertical-align:baseline;}
.inner_brand p {font-size:1.5rem;}

/*内容 end*/