@import url(bootstrap.min.css);
@import url(base.css);
a:hover{text-decoration: none;}
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder{ color:#666; }

/*屏幕缩小时关闭按钮*/
.small_close{width: 100%;position: fixed;top: 0;right:0;background: rgba(0,0,0,0.5);height: 100%;display: none;}
.nav_left_close{text-align: center;font-size: 30px;color: #fff;cursor: pointer;background: #333;position: absolute;top:0;right: 0;width: 10%;z-index: 20;}

/*头部广告*/
.top_banner{background: #242323;padding: 10px 34px 10px 10px;color: #fff;text-align: center;font-size: 1rem;overflow: hidden;}
.top_banner .fa-chevron-right{margin-left: 5px;}
.top_banner .fa-close{float: right;}
/*头部广告*/
/*头部begin*/
.header{height: 67px;box-shadow: 0 0 5px #000;padding: 0;position: relative;z-index: 20;background: #fff;}
.header .row{margin: 0;}

.small_menu{background: #000;color: #fff;height: 67px;position: relative;text-align: center;padding: 0}
.small_menu .fa-bars{font-size: 28px;margin-top: 10px;}
.small_menu .panel-collapse{background: #e86430;width: 500px;position: absolute;top:70px;}
.small_menu .panel{background: none;border:none;}
.small_menu .panel-title a{text-decoration: none;}
.small_menu .panel-title a span{font-size: 12px;}

.logo{height: 37px;display: inline-block;margin-top: 16px;text-align: center;}
.logo img{height: 37px;width: 106%;vertical-align: middle;}
.choose{margin: 20px 6px 0 2px;padding-left: 20px;position: relative;width: 7.3%;}
.choose img{display: block;margin-left: 16px;}
.choose p{display: inline-block;height: 10px;line-height: 10px;position: absolute;top: 20px;left: 43px;}
.choose:hover ul{display: block;}
.choose ul{position: absolute;top: 0;padding: 0;background: #fff;box-shadow: 0 0 5px #000;text-align: center;display: none;z-index: 20;}
.choose ul li{}
.choose ul li a{overflow: hidden;color: #000;font-size: 1.4rem;text-decoration: none;}
.choose ul li:first-child{border-bottom: 1px solid #ccc;width: 56px;}

.search{margin-top: 10px;/*max-width: 627px;*/}
.search_txt{border:1px solid #c8c8c8;border-right: none;background: #fafafa;}
.search_txt input{padding: 8px 15px;font-size: 1.9rem;font-weight: bold;background: none;}
.search_btn{border:1px solid #c8c8c8;border-left: none;position: relative;padding: 0;}
.search_btn input{width: 100%;padding: 13px 0;}
.search_btn i{position: absolute;left: 10px;top: 10px;}

.menu{height: 67px;/*max-width: 18%;*/}
.menu ul{float: left;width: 30%;text-align: center;position: relative;height: 67px;}
.menu ul:last-child{min-width: 50px;}
.menu ul a{color: #000;}
.menu ul a:hover{text-decoration: none;}
.menu ul li:first-child{margin-top: 10px;padding: 3px 0;}
.menu ul li:last-child{line-height: 20px;}
.menu ul li i{font-size: 26px;}
.menu_help p{position: absolute;background: #e86430;width: 100%;height: 2px;top:0;left: 0;display: none;}
.menu_help:hover p{display: block;}
.menu_help:hover .help_list{display: block;}
.help_list{position: absolute;top: 80px;left: -140px;width: 360px;height: 318px;z-index: 2;box-shadow: 0 0 5px #555;display: none;}
.help_list h2{background: #e86430;text-align: center;font-size: 18px;font-weight: 100;color: #fff;line-height: 48px;}
.help_list ul{background: #fff;width: 100%;padding: 0 25px 24px 25px;height: auto;}
.help_list ul li,.help_list ul li:first-child{padding: 10px 0;background: none;overflow: hidden;text-align: left;}
.help_list ul li a{color: #0081c2;}
.help_sanjiao{position: absolute;top:-24px;left:50%;margin-left: -10px;color: #e86430;}
.help_list ul li i{font-size: 30px;color:#0182c3;float: left;margin-right:10px;}
.help_list ul li i.help_list_i2{margin-top: 20px;}
.help_list ul li span{float: left;line-height: 20px; margin-top: 5px;color: #000;}
.help_list ul li a{text-decoration: underline;margin-left: 5px;}
.menu_user p{position: absolute;background: #000;width: 100%;height: 2px;top:0;left: 0;display: none;}
.menu_user:hover p{display: block;}

.cart_plus{background: #ffea28;text-align: center;height: 67px;position: relative;}
.cart_plus ul li:first-child{font-size: 26px;margin-top: 8px;}
.cart_plus ul{}
.cart_plus li:last-child{margin-top: -2px;}
.cart_plus ul p{position: absolute;border-radius: 50%;background: #0082c3;top:2px;right: 2px;width: 20px;height: 20px; color: #fff;line-height: 20px; text-align: center; overflow: hidden;}
.cart_plus:hover .cart_list{display: block;}
.cart_list{position: absolute;top: 67px;right: 0px;width: 360px;height: 455px;z-index: 2;box-shadow: 0 2px 5px #555;background: #fff;display: none;}
.cart_list h2{background: #ffea28;text-align: center;font-size: 1.9rem;font-weight: 100;color: #333;line-height: 48px;margin-bottom: 30px;}
.cart_list b{font-size: 14px;font-weight: bold;}
.cart_list a{color: #333;}
.cart_sanjiao{position: absolute;top:0;left:85%;margin-left: -10px;color: #ffea28;}
.cart_list_full{padding: 0 20px; margin-top: -20px;display: none;}
.cart_data{height: 300px;overflow:auto;    padding: 0 20px;}
.cart_list_full ul{}
.cart_list_full ul li{border-bottom: 1px solid #ccc;padding: 10px;overflow: hidden;}
.cart_list_full ul li h6{line-height: 1.2;max-height: 29px;overflow: hidden;}
.cart_list_full ul li img{float: left;margin-right: 5px;width: 50px;height: 50px;}
.cart_list_full ul li div{float: left;font-size: 1.2rem;width: 70%;}
.shopping_cart{ color: #333; width: 70%;padding: 5px;margin: 5px auto;font-size: 1.4rem}
.shopping_cart span{color: red;}
#lj_sum{ background: linear-gradient(to bottom,#fef63a 0,#eec423 100%);height: 41px;line-height: 41px;color: #000000;width: 80%;display: inline-block;}
/*头部end*/


/*footer begin*/
.footer{background: #f4f3f3;overflow: hidden;}
.footer_services{
	background: #0584c4;
    
}
.footer_services ul{
	max-width: 1180px;
    padding: 20px 30px;
    margin: 0 auto;
    overflow: hidden;
}
.footer_services_cont a{display: block;color: #fff;}
.footer_services_cont li{ float: left;font-size: 1.5rem;font-weight: 700;width: 20%;}
.footer_services_cont li i{font-size: 47px;float: left;margin-left: 23%;}
.footer_services_cont li span{margin: 20px 0 0 20px;float: left;}

.footer_about{width: 100%;
    max-width: 1180px;
    overflow: hidden;
    margin: 24px auto;
    border-bottom: 1px solid #e7e6e6;
    padding: 0 0 25px 0;}
.footer_about ul{float: left;width: 20%;}
.footer_about ul li a{color: #393939;    font-weight: 400;
    font-style: normal;
    font-size: 12px;
    font-size: 1.2rem;}
.footer_about ul li.footer_about_tit{
	margin: 0 5px 5px 0;
}
.footer_about ul li.footer_about_tit a{font-weight: 700;
    font-style: normal;
    font-size: 13px;
    font-size: 1.3rem;
    color: #0584c4;}
.footer_about ul.about_ewm{text-align: center;}

.copyright{overflow: hidden;width: 100%;
    max-width: 1180px;margin: 3% auto; margin-top: 0%;line-height: 40px;}
.copy_left{float: left;width: 20%;height: 80px;}
.copy_left h3{float: left;font-weight: 700;
    font-style: normal;
    font-size: 13px;
    font-size: 1.3rem;    color: #0584c4;margin: 9% 5% 0 0;}
.copy_left button{ height: 30px;
    min-width: 80px;    border: 1px solid #e6e6e6;overflow: hidden;margin-top: 5%;}
.copy_left button span{display: inline-block;line-height: 28px;float: left;margin-left: 10px;;}
.copy_left .flag_cn{background: url(../images/flag.png);    background-position: -170px 0;    width: 24px;
    height: 24px;float: left;}
.copy_rigth{float: right;position: relative;}
.copy_rigth img{position: absolute;top: 34px; right: 20px;}
.copy_rigth span{position: absolute;top: 45px; right: 36px;color: #001b75;
    font-family: simsun,sans-serif;
    font-size: 12px;}

/*footer end*/

.go_top{    width: 64px;
    height: 64px;
        position: fixed;
    right: 0;
    bottom: 0;    
    border-style: solid;
    border-width: 0 0 64px 64px;
    border-color: transparent transparent #0082c3;
    z-index: 10;
    }  
.go_top i{position: absolute;
    font-size: 12px;
    bottom: -50px;
    right: 11px;
    color: #fff;
    z-index: 2;}

@media screen and (min-width: 750px) and (max-width: 1360px){
    .menu{max-width: 15%;}
}
@media screen and (min-width: 750px) and (max-width: 1099px){
    .menu{max-width: 17%;}
    .search{max-width: 600px;}
}
@media screen and (min-width: 992px) and (max-width: 1200px){
    .banner{width: 74%;}
}

@media (max-width: 1199px) and (min-width: 992px){
    .cart_plus{width: 10%;}
}
@media (max-width: 768px) and (min-width: 1200px){
    .logo img{width: 18%;}
}
@media (max-width: 994px){
    .logo img{width: 260px;}
}